.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] {
		border: none !important;
		background: none !important;
		padding: 0 !important;
}

.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormFieldLabel {
		font-style: italic;
		font-weight: bold;
}

/* recurring section */
#bboxdonation_recurrence_lblRecurringGift {
	font-size: large;
}
.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormFieldRecurrenceInfo {
	font-size: 1em;
}

#bboxdonation_tribute_lblTributeGift, 
#bboxdonation_billing_lblOrgGift,
#bboxdonation_billing_lblAnonymous,
#bboxdonation_recurrence_lblRecurringGift,
#bboxdonation_tribute_lblTributeAcknowledgee {
		font-style: normal;
}

.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] [data-style="Narrow_Buttons"] .BBFormRadioLabelGivingLevel {
		margin-right: 10px;
}

.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] [data-style="Narrow_Buttons"] .BBFormRadioLabelGivingLevelSelected {
		background-color: #b72236;
}

/* put comment box back to the left */
.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBDFormSectionComments .BBFormFieldLabel {
		margin-left: 0;
}
.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBDFormSectionComments .BBFormTextArea {
		margin-left: 0;
}

/* hide section heading */
.BBFormSectionHeading {
		display: none;
}
	
.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormSubmitbutton {
		box-shadow: none;
		background-color: #b72236;
}

.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBThreeFields .BBFormTextbox {
		max-width: 170px;
}

.BBLinkSecureInfo { 
		font-weight: bold;
}

/* fix error display */
.BBFormContainer.BBFormWidthNarrow-Less600[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormErrorBlock,
.BBFormContainer.BBFormWidthNarrow-Less600[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormErrorBlock.BBFormInlineError.BBFieldExpiration,
.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormErrorBlock.BBFormInlineError.BBFieldSecurityCode, 
.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormErrorBlock.BBFormInlineError.BBFormFieldContainerGivingLevels {
		padding-left: 0px;
}

.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormErrorBlock {
		background-color: transparent;
		border: none;
}

.BBFormInlineErrorItem {
		background-color: #FFEE9B;
		border: 1px solid #B45F41;
		border-radius: 5px;
		margin-top: 10px;
}

/* hide error message div */
#divClientError {
	display: none !important;
}

.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormServerErrorItem {
	color: yellow;
	font-size: large;
}

.BBFormContainer[data-bbox-part-id="92553bab-611d-4ffb-92be-617c81a14368"] .BBFormConfirmation {
	font-size: x-large;
	padding-top: 20%;
}
