div .container {
		/* https://css-tricks.com/perfect-full-page-background-image/ */
		background: url(http://www.spca.com/wordpspca/wp-content/uploads/2017/09/donation-page-background.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		font-family: 'Roboto', sans-serif;
		display: table;
		width: 100%;
}

/*
#header {
		background-color: rgba(183, 34, 59, 0.90);
		#b72236;
		width: 100%;
		height: 75px;	
}
*/

#spca-link {
  position: absolute;
	right: 50px;	       
	top: 30px;
	color: white;
	text-decoration: none;
}

#logo-donate {
		position: absolute;
		left: 50px;
		top: 15px;
		color: white;
		display: table;
		height: 49px;
}

#donate-now {
		display: table-cell;
		vertical-align: middle;
		font-size: large;
		font-weight: bold;
		padding-left: 20px;
}

.FormFieldContainer {
		color: white;
		padding: 15px 17px;
		font-size: xx-large;
		font-weight: bold;
}

.form-div {
		position: relative;
		left: 5%;
		width: 500px;
		padding-top: 2em;
		min-height: 1500px;
}

.phone-gift {
		padding: 30px;
		border-style: solid;
		border-width: 1px;
		border-color: white;
		border-radius: 5px;
		margin-bottom: 15px;
		font-weight: bold;
		display: table;
}

.phone-img {
	display: table-cell;
}
.phone-img img {
	margin-right: 15px;
}
.text-div {
	display: table-cell;
	vertical-align: middle;
}
.phone-number {
	font-size: x-large;
	margin-top: 10px;
}

.footer {
		float: right;
		color: white;
		margin-bottom: 30px;
		margin-right: 30px;
}

.uniqueText {
	font-weight: normal;
	font-style: italic;
}

/* hide wordpress's automatic p elements */
body p {
	display: none;
}
